<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.mapperdao.BonusMapper" >
  <resultMap id="BaseResultMap" type="hr.entity.Bonus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major_kind_id" property="majorKindId" jdbcType="INTEGER" />
    <result column="major_kind_name" property="majorKindName" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="INTEGER" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="human_id" property="humanId" jdbcType="INTEGER" />
    <result column="human_name" property="humanName" jdbcType="VARCHAR" />
    <result column="bonus_item" property="bonusItem" jdbcType="VARCHAR" />
    <result column="bonus_worth" property="bonusWorth" jdbcType="DOUBLE" />
    <result column="bonus_degree" property="bonusDegree" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="register" property="register" jdbcType="VARCHAR" />
    <result column="checker" property="checker" jdbcType="VARCHAR" />
    <result column="regist_time" property="registTime" jdbcType="DATE" />
    <result column="check_time" property="checkTime" jdbcType="DATE" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, major_kind_id, major_kind_name, major_id, major_name, human_id, human_name, bonus_item, 
    bonus_worth, bonus_degree, remark, register, checker, regist_time, check_time, check_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hr.entity.BonusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bonus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bonus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hr.entity.BonusExample" >
    delete from bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hr.entity.Bonus" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bonus (major_kind_id, major_kind_name, major_id, 
      major_name, human_id, human_name, 
      bonus_item, bonus_worth, bonus_degree, 
      remark, register, checker, 
      regist_time, check_time, check_status
      )
    values (#{majorKindId,jdbcType=INTEGER}, #{majorKindName,jdbcType=VARCHAR}, #{majorId,jdbcType=INTEGER}, 
      #{majorName,jdbcType=VARCHAR}, #{humanId,jdbcType=INTEGER}, #{humanName,jdbcType=VARCHAR}, 
      #{bonusItem,jdbcType=VARCHAR}, #{bonusWorth,jdbcType=DOUBLE}, #{bonusDegree,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{register,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=DATE}, #{checkTime,jdbcType=DATE}, #{checkStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="hr.entity.Bonus" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bonus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="majorKindId != null" >
        major_kind_id,
      </if>
      <if test="majorKindName != null" >
        major_kind_name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="humanId != null" >
        human_id,
      </if>
      <if test="humanName != null" >
        human_name,
      </if>
      <if test="bonusItem != null" >
        bonus_item,
      </if>
      <if test="bonusWorth != null" >
        bonus_worth,
      </if>
      <if test="bonusDegree != null" >
        bonus_degree,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="register != null" >
        register,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="registTime != null" >
        regist_time,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="majorKindId != null" >
        #{majorKindId,jdbcType=INTEGER},
      </if>
      <if test="majorKindName != null" >
        #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        #{humanId,jdbcType=INTEGER},
      </if>
      <if test="humanName != null" >
        #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="bonusItem != null" >
        #{bonusItem,jdbcType=VARCHAR},
      </if>
      <if test="bonusWorth != null" >
        #{bonusWorth,jdbcType=DOUBLE},
      </if>
      <if test="bonusDegree != null" >
        #{bonusDegree,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="register != null" >
        #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        #{registTime,jdbcType=DATE},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=DATE},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hr.entity.BonusExample" resultType="java.lang.Integer" >
    select count(*) from bonus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bonus
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.majorKindId != null" >
        major_kind_id = #{record.majorKindId,jdbcType=INTEGER},
      </if>
      <if test="record.majorKindName != null" >
        major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null" >
        major_id = #{record.majorId,jdbcType=INTEGER},
      </if>
      <if test="record.majorName != null" >
        major_name = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.humanId != null" >
        human_id = #{record.humanId,jdbcType=INTEGER},
      </if>
      <if test="record.humanName != null" >
        human_name = #{record.humanName,jdbcType=VARCHAR},
      </if>
      <if test="record.bonusItem != null" >
        bonus_item = #{record.bonusItem,jdbcType=VARCHAR},
      </if>
      <if test="record.bonusWorth != null" >
        bonus_worth = #{record.bonusWorth,jdbcType=DOUBLE},
      </if>
      <if test="record.bonusDegree != null" >
        bonus_degree = #{record.bonusDegree,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.register != null" >
        register = #{record.register,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null" >
        checker = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.registTime != null" >
        regist_time = #{record.registTime,jdbcType=DATE},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=DATE},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bonus
    set id = #{record.id,jdbcType=INTEGER},
      major_kind_id = #{record.majorKindId,jdbcType=INTEGER},
      major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=INTEGER},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      human_id = #{record.humanId,jdbcType=INTEGER},
      human_name = #{record.humanName,jdbcType=VARCHAR},
      bonus_item = #{record.bonusItem,jdbcType=VARCHAR},
      bonus_worth = #{record.bonusWorth,jdbcType=DOUBLE},
      bonus_degree = #{record.bonusDegree,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      register = #{record.register,jdbcType=VARCHAR},
      checker = #{record.checker,jdbcType=VARCHAR},
      regist_time = #{record.registTime,jdbcType=DATE},
      check_time = #{record.checkTime,jdbcType=DATE},
      check_status = #{record.checkStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hr.entity.Bonus" >
    update bonus
    <set >
      <if test="majorKindId != null" >
        major_kind_id = #{majorKindId,jdbcType=INTEGER},
      </if>
      <if test="majorKindName != null" >
        major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        human_id = #{humanId,jdbcType=INTEGER},
      </if>
      <if test="humanName != null" >
        human_name = #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="bonusItem != null" >
        bonus_item = #{bonusItem,jdbcType=VARCHAR},
      </if>
      <if test="bonusWorth != null" >
        bonus_worth = #{bonusWorth,jdbcType=DOUBLE},
      </if>
      <if test="bonusDegree != null" >
        bonus_degree = #{bonusDegree,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="register != null" >
        register = #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        regist_time = #{registTime,jdbcType=DATE},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=DATE},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hr.entity.Bonus" >
    update bonus
    set major_kind_id = #{majorKindId,jdbcType=INTEGER},
      major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=INTEGER},
      major_name = #{majorName,jdbcType=VARCHAR},
      human_id = #{humanId,jdbcType=INTEGER},
      human_name = #{humanName,jdbcType=VARCHAR},
      bonus_item = #{bonusItem,jdbcType=VARCHAR},
      bonus_worth = #{bonusWorth,jdbcType=DOUBLE},
      bonus_degree = #{bonusDegree,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      register = #{register,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=DATE},
      check_time = #{checkTime,jdbcType=DATE},
      check_status = #{checkStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>