<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.mapperdao.DataMapper" >
    <resultMap id="BaseResultMap" type="hr.entity.Data" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
    <result column="column_comment" property="columnComment" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="ordinal_position" property="ordinalPosition" jdbcType="INTEGER" />
  </resultMap>
  
 
 	<select id="selectTables" resultType="map">
		select `table_name`,table_comment from information_schema.tables 	where `table_schema` ='hr_db'    
 	</select>
 	<select id="selectByTableName" resultMap="BaseResultMap" parameterType="string">
		select  table_name, column_name, column_comment, DATA_TYPE ,ordinal_position
			from information_schema.COLUMNS
			where  TABLE_SCHEMA = 'hr_db' 
				and TABLE_NAME =#{tableName};	     
 	</select>
 	
 	<select id="selectByTableAndColumns" resultType="map" parameterType="map">
		select ${columns} from ${tableName}
 	</select>
 </mapper>