<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.mapperdao.EngageMajorReleaseMapper">
	<resultMap id="BaseResultMap" type="hr.entity.EngageMajorRelease">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="first_kind_id" property="firstKindId" jdbcType="VARCHAR" />
		<result column="first_kind_name" property="firstKindName"
			jdbcType="VARCHAR" />
		<result column="second_kind_id" property="secondKindId"
			jdbcType="VARCHAR" />
		<result column="second_kind_name" property="secondKindName"
			jdbcType="VARCHAR" />
		<result column="third_kind_id" property="thirdKindId" jdbcType="VARCHAR" />
		<result column="third_kind_name" property="thirdKindName"
			jdbcType="VARCHAR" />
		<result column="major_kind_id" property="majorKindId" jdbcType="VARCHAR" />
		<result column="major_kind_name" property="majorKindName"
			jdbcType="VARCHAR" />
		<result column="major_id" property="majorId" jdbcType="VARCHAR" />
		<result column="major_name" property="majorName" jdbcType="VARCHAR" />
		<result column="human_amount" property="humanAmount" jdbcType="INTEGER" />
		<result column="engage_type" property="engageType" jdbcType="VARCHAR" />
		<result column="deadline" property="deadline" jdbcType="DATE" />
		<result column="register" property="register" jdbcType="VARCHAR" />
		<result column="changer" property="changer" jdbcType="VARCHAR" />
		<result column="regist_time" property="registTime" jdbcType="DATE" />
		<result column="change_time" property="changeTime" jdbcType="DATE" />
		<result column="major_describe" property="majorDescribe"
			jdbcType="VARCHAR" />
		<result column="engage_required" property="engageRequired"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, first_kind_id, first_kind_name, second_kind_id, second_kind_name,
		third_kind_id,
		third_kind_name, major_kind_id, major_kind_name, major_id, major_name, human_amount,
		engage_type, deadline, register, changer, regist_time, change_time,
		major_describe,
		engage_required
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="hr.entity.EngageMajorReleaseExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from engage_major_release
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="limitStart != null and limitStart>=0">
			limit #{limitStart} , #{limitEnd}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from engage_major_release
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from engage_major_release
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="hr.entity.EngageMajorReleaseExample">
		delete from engage_major_release
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="hr.entity.EngageMajorRelease">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into engage_major_release (first_kind_id, first_kind_name,
		second_kind_id,
		second_kind_name, third_kind_id, third_kind_name,
		major_kind_id, major_kind_name, major_id,
		major_name, human_amount, engage_type,
		deadline, register, changer,
		regist_time, change_time, major_describe,
		engage_required)
		values (#{firstKindId,jdbcType=VARCHAR}, #{firstKindName,jdbcType=VARCHAR},
		#{secondKindId,jdbcType=VARCHAR},
		#{secondKindName,jdbcType=VARCHAR}, #{thirdKindId,jdbcType=VARCHAR}, #{thirdKindName,jdbcType=VARCHAR},
		#{majorKindId,jdbcType=VARCHAR}, #{majorKindName,jdbcType=VARCHAR},
		#{majorId,jdbcType=VARCHAR},
		#{majorName,jdbcType=VARCHAR}, #{humanAmount,jdbcType=INTEGER}, #{engageType,jdbcType=VARCHAR},
		#{deadline,jdbcType=DATE}, #{register,jdbcType=VARCHAR},
		#{changer,jdbcType=VARCHAR},
		#{registTime,jdbcType=DATE}, #{changeTime,jdbcType=DATE}, #{majorDescribe,jdbcType=VARCHAR},
		#{engageRequired,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="hr.entity.EngageMajorRelease">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into engage_major_release
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="firstKindId != null">
				first_kind_id,
			</if>
			<if test="firstKindName != null">
				first_kind_name,
			</if>
			<if test="secondKindId != null">
				second_kind_id,
			</if>
			<if test="secondKindName != null">
				second_kind_name,
			</if>
			<if test="thirdKindId != null">
				third_kind_id,
			</if>
			<if test="thirdKindName != null">
				third_kind_name,
			</if>
			<if test="majorKindId != null">
				major_kind_id,
			</if>
			<if test="majorKindName != null">
				major_kind_name,
			</if>
			<if test="majorId != null">
				major_id,
			</if>
			<if test="majorName != null">
				major_name,
			</if>
			<if test="humanAmount != null">
				human_amount,
			</if>
			<if test="engageType != null">
				engage_type,
			</if>
			<if test="deadline != null">
				deadline,
			</if>
			<if test="register != null">
				register,
			</if>
			<if test="changer != null">
				changer,
			</if>
			<if test="registTime != null">
				regist_time,
			</if>
			<if test="changeTime != null">
				change_time,
			</if>
			<if test="majorDescribe != null">
				major_describe,
			</if>
			<if test="engageRequired != null">
				engage_required,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="firstKindId != null">
				#{firstKindId,jdbcType=VARCHAR},
			</if>
			<if test="firstKindName != null">
				#{firstKindName,jdbcType=VARCHAR},
			</if>
			<if test="secondKindId != null">
				#{secondKindId,jdbcType=VARCHAR},
			</if>
			<if test="secondKindName != null">
				#{secondKindName,jdbcType=VARCHAR},
			</if>
			<if test="thirdKindId != null">
				#{thirdKindId,jdbcType=VARCHAR},
			</if>
			<if test="thirdKindName != null">
				#{thirdKindName,jdbcType=VARCHAR},
			</if>
			<if test="majorKindId != null">
				#{majorKindId,jdbcType=VARCHAR},
			</if>
			<if test="majorKindName != null">
				#{majorKindName,jdbcType=VARCHAR},
			</if>
			<if test="majorId != null">
				#{majorId,jdbcType=VARCHAR},
			</if>
			<if test="majorName != null">
				#{majorName,jdbcType=VARCHAR},
			</if>
			<if test="humanAmount != null">
				#{humanAmount,jdbcType=INTEGER},
			</if>
			<if test="engageType != null">
				#{engageType,jdbcType=VARCHAR},
			</if>
			<if test="deadline != null">
				#{deadline,jdbcType=DATE},
			</if>
			<if test="register != null">
				#{register,jdbcType=VARCHAR},
			</if>
			<if test="changer != null">
				#{changer,jdbcType=VARCHAR},
			</if>
			<if test="registTime != null">
				#{registTime,jdbcType=DATE},
			</if>
			<if test="changeTime != null">
				#{changeTime,jdbcType=DATE},
			</if>
			<if test="majorDescribe != null">
				#{majorDescribe,jdbcType=VARCHAR},
			</if>
			<if test="engageRequired != null">
				#{engageRequired,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="hr.entity.EngageMajorReleaseExample"
		resultType="java.lang.Integer">
		select count(*) from engage_major_release
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update engage_major_release
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.firstKindId != null">
				first_kind_id = #{record.firstKindId,jdbcType=VARCHAR},
			</if>
			<if test="record.firstKindName != null">
				first_kind_name = #{record.firstKindName,jdbcType=VARCHAR},
			</if>
			<if test="record.secondKindId != null">
				second_kind_id = #{record.secondKindId,jdbcType=VARCHAR},
			</if>
			<if test="record.secondKindName != null">
				second_kind_name = #{record.secondKindName,jdbcType=VARCHAR},
			</if>
			<if test="record.thirdKindId != null">
				third_kind_id = #{record.thirdKindId,jdbcType=VARCHAR},
			</if>
			<if test="record.thirdKindName != null">
				third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
			</if>
			<if test="record.majorKindId != null">
				major_kind_id = #{record.majorKindId,jdbcType=VARCHAR},
			</if>
			<if test="record.majorKindName != null">
				major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
			</if>
			<if test="record.majorId != null">
				major_id = #{record.majorId,jdbcType=VARCHAR},
			</if>
			<if test="record.majorName != null">
				major_name = #{record.majorName,jdbcType=VARCHAR},
			</if>
			<if test="record.humanAmount != null">
				human_amount = #{record.humanAmount,jdbcType=INTEGER},
			</if>
			<if test="record.engageType != null">
				engage_type = #{record.engageType,jdbcType=VARCHAR},
			</if>
			<if test="record.deadline != null">
				deadline = #{record.deadline,jdbcType=DATE},
			</if>
			<if test="record.register != null">
				register = #{record.register,jdbcType=VARCHAR},
			</if>
			<if test="record.changer != null">
				changer = #{record.changer,jdbcType=VARCHAR},
			</if>
			<if test="record.registTime != null">
				regist_time = #{record.registTime,jdbcType=DATE},
			</if>
			<if test="record.changeTime != null">
				change_time = #{record.changeTime,jdbcType=DATE},
			</if>
			<if test="record.majorDescribe != null">
				major_describe = #{record.majorDescribe,jdbcType=VARCHAR},
			</if>
			<if test="record.engageRequired != null">
				engage_required = #{record.engageRequired,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update engage_major_release
		set id = #{record.id,jdbcType=INTEGER},
		first_kind_id = #{record.firstKindId,jdbcType=VARCHAR},
		first_kind_name = #{record.firstKindName,jdbcType=VARCHAR},
		second_kind_id = #{record.secondKindId,jdbcType=VARCHAR},
		second_kind_name = #{record.secondKindName,jdbcType=VARCHAR},
		third_kind_id = #{record.thirdKindId,jdbcType=VARCHAR},
		third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
		major_kind_id = #{record.majorKindId,jdbcType=VARCHAR},
		major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
		major_id = #{record.majorId,jdbcType=VARCHAR},
		major_name = #{record.majorName,jdbcType=VARCHAR},
		human_amount = #{record.humanAmount,jdbcType=INTEGER},
		engage_type = #{record.engageType,jdbcType=VARCHAR},
		deadline = #{record.deadline,jdbcType=DATE},
		register = #{record.register,jdbcType=VARCHAR},
		changer = #{record.changer,jdbcType=VARCHAR},
		regist_time = #{record.registTime,jdbcType=DATE},
		change_time = #{record.changeTime,jdbcType=DATE},
		major_describe = #{record.majorDescribe,jdbcType=VARCHAR},
		engage_required = #{record.engageRequired,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="hr.entity.EngageMajorRelease">
		update engage_major_release
		<set>
			<if test="firstKindId != null">
				first_kind_id = #{firstKindId,jdbcType=VARCHAR},
			</if>
			<if test="firstKindName != null">
				first_kind_name = #{firstKindName,jdbcType=VARCHAR},
			</if>
			<if test="secondKindId != null">
				second_kind_id = #{secondKindId,jdbcType=VARCHAR},
			</if>
			<if test="secondKindName != null">
				second_kind_name = #{secondKindName,jdbcType=VARCHAR},
			</if>
			<if test="thirdKindId != null">
				third_kind_id = #{thirdKindId,jdbcType=VARCHAR},
			</if>
			<if test="thirdKindName != null">
				third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
			</if>
			<if test="majorKindId != null">
				major_kind_id = #{majorKindId,jdbcType=VARCHAR},
			</if>
			<if test="majorKindName != null">
				major_kind_name = #{majorKindName,jdbcType=VARCHAR},
			</if>
			<if test="majorId != null">
				major_id = #{majorId,jdbcType=VARCHAR},
			</if>
			<if test="majorName != null">
				major_name = #{majorName,jdbcType=VARCHAR},
			</if>
			<if test="humanAmount != null">
				human_amount = #{humanAmount,jdbcType=INTEGER},
			</if>
			<if test="engageType != null">
				engage_type = #{engageType,jdbcType=VARCHAR},
			</if>
			<if test="deadline != null">
				deadline = #{deadline,jdbcType=DATE},
			</if>
			<if test="register != null">
				register = #{register,jdbcType=VARCHAR},
			</if>
			<if test="changer != null">
				changer = #{changer,jdbcType=VARCHAR},
			</if>
			<if test="registTime != null">
				regist_time = #{registTime,jdbcType=DATE},
			</if>
			<if test="changeTime != null">
				change_time = #{changeTime,jdbcType=DATE},
			</if>
			<if test="majorDescribe != null">
				major_describe = #{majorDescribe,jdbcType=VARCHAR},
			</if>
			<if test="engageRequired != null">
				engage_required = #{engageRequired,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="hr.entity.EngageMajorRelease">
		update engage_major_release
		set first_kind_id = #{firstKindId,jdbcType=VARCHAR},
		first_kind_name = #{firstKindName,jdbcType=VARCHAR},
		second_kind_id = #{secondKindId,jdbcType=VARCHAR},
		second_kind_name = #{secondKindName,jdbcType=VARCHAR},
		third_kind_id = #{thirdKindId,jdbcType=VARCHAR},
		third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
		major_kind_id = #{majorKindId,jdbcType=VARCHAR},
		major_kind_name = #{majorKindName,jdbcType=VARCHAR},
		major_id = #{majorId,jdbcType=VARCHAR},
		major_name = #{majorName,jdbcType=VARCHAR},
		human_amount = #{humanAmount,jdbcType=INTEGER},
		engage_type = #{engageType,jdbcType=VARCHAR},
		deadline = #{deadline,jdbcType=DATE},
		register = #{register,jdbcType=VARCHAR},
		changer = #{changer,jdbcType=VARCHAR},
		regist_time = #{registTime,jdbcType=DATE},
		change_time = #{changeTime,jdbcType=DATE},
		major_describe = #{majorDescribe,jdbcType=VARCHAR},
		engage_required = #{engageRequired,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>




	<!-- 自定义查询语句============================================= -->

	<select id="selectPage" >
		select * from engage_major_release release
		 
		limit #{start} , #{rows}
	</select>

 

</mapper>