<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.mapperdao.RightMapper" >
  <resultMap id="BaseResultMap" type="hr.entity.Right" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="right_name" property="rightName" jdbcType="VARCHAR" />
    <result column="right_path" property="rightPath" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="right_type" property="rightType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, right_name, right_path, parent_id, right_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hr.entity.RightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from `right` 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `right` 
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `right` 
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hr.entity.RightExample" >
    delete from `right` 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hr.entity.Right" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `right`  (right_name, right_path, parent_id, 
      right_type)
    values (#{rightName,jdbcType=VARCHAR}, #{rightPath,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{rightType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hr.entity.Right" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `right` 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rightName != null" >
        right_name,
      </if>
      <if test="rightPath != null" >
        right_path,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="rightType != null" >
        right_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rightName != null" >
        #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="rightPath != null" >
        #{rightPath,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null" >
        #{rightType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hr.entity.RightExample" resultType="java.lang.Integer" >
    select count(*) from `right` 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update `right` 
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rightName != null" >
        right_name = #{record.rightName,jdbcType=VARCHAR},
      </if>
      <if test="record.rightPath != null" >
        right_path = #{record.rightPath,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.rightType != null" >
        right_type = #{record.rightType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update `right` 
    set id = #{record.id,jdbcType=INTEGER},
      right_name = #{record.rightName,jdbcType=VARCHAR},
      right_path = #{record.rightPath,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      right_type = #{record.rightType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hr.entity.Right" >
    update `right` 
    <set >
      <if test="rightName != null" >
        right_name = #{rightName,jdbcType=VARCHAR},
      </if>
      <if test="rightPath != null" >
        right_path = #{rightPath,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="rightType != null" >
        right_type = #{rightType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hr.entity.Right" >
    update `right` 
    set right_name = #{rightName,jdbcType=VARCHAR},
      right_path = #{rightPath,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      right_type = #{rightType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>









  <resultMap type="hr.entity.Right" id="baseMap">
  	<id column="id"  property="id"/>
  	<result column="right_name" property="rightName"/>
  	<result column="right_path" property="rightPath"/>
  	<result column="right_type" property="rightType"/>
  	<result column="parent_id"  property="parentId"/>
  </resultMap>
  
  <select id="selectAll" resultMap="baseMap">
  	select * from `right`
  </select>
  
  <select id="selectById" resultMap="baseMap" parameterType="int" >
  	select * from `right` where id = #{id}
  </select>

  <select id="selectChilds" resultMap="baseMap" parameterType="int" >
  	select * from `right` where parent_id = #{id}
  </select>
  
  <insert id="save" parameterType="hr.entity.Right" >
  	insert into `right`(right_name,right_type) values(#{rightName},#{rightType})
  </insert>
  
  <update id="modify" parameterType="hr.entity.Right">
  	update `right` set right_name=#{rightName},right_type=#{rightType} where id = #{id}
  </update>
  
  <delete id="remove" parameterType="int">
  	delete  from `right` where id = #{id}
  </delete> 


  
  <!--  自定义查询语句 -->
  
  <select id="selectRightForRoleId" parameterType="int" resultMap="BaseResultMap">
      select * from `right` where id in(
		select right_id from sys_role role ,sys_role_right rr where role.id = rr.role_id and role.id = #{rid}
		) 
  </select>
</mapper>