<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.mapperdao.TrainingMapper" >
  <resultMap id="BaseResultMap" type="hr.entity.Training" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major_kind_id" property="majorKindId" jdbcType="VARCHAR" />
    <result column="major_kind_name" property="majorKindName" jdbcType="VARCHAR" />
    <result column="major_id" property="majorId" jdbcType="VARCHAR" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="human_id" property="humanId" jdbcType="VARCHAR" />
    <result column="human_name" property="humanName" jdbcType="VARCHAR" />
    <result column="training_item" property="trainingItem" jdbcType="VARCHAR" />
    <result column="training_time" property="trainingTime" jdbcType="DATE" />
    <result column="training_degree" property="trainingDegree" jdbcType="VARCHAR" />
    <result column="training_hour" property="trainingHour" jdbcType="INTEGER" />
    <result column="register" property="register" jdbcType="VARCHAR" />
    <result column="checker" property="checker" jdbcType="VARCHAR" />
    <result column="regist_time" property="registTime" jdbcType="DATE" />
    <result column="check_time" property="checkTime" jdbcType="DATE" />
    <result column="checkstatus" property="checkstatus" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, major_kind_id, major_kind_name, major_id, major_name, human_id, human_name, training_item, 
    training_time, training_degree, training_hour, register, checker, regist_time, check_time, 
    checkstatus, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="hr.entity.TrainingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from training
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from training
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="hr.entity.TrainingExample" >
    delete from training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hr.entity.Training" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into training (major_kind_id, major_kind_name, major_id, 
      major_name, human_id, human_name, 
      training_item, training_time, training_degree, 
      training_hour, register, checker, 
      regist_time, check_time, checkstatus, 
      remark)
    values (#{majorKindId,jdbcType=VARCHAR}, #{majorKindName,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, 
      #{majorName,jdbcType=VARCHAR}, #{humanId,jdbcType=VARCHAR}, #{humanName,jdbcType=VARCHAR}, 
      #{trainingItem,jdbcType=VARCHAR}, #{trainingTime,jdbcType=DATE}, #{trainingDegree,jdbcType=VARCHAR}, 
      #{trainingHour,jdbcType=INTEGER}, #{register,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, 
      #{registTime,jdbcType=DATE}, #{checkTime,jdbcType=DATE}, #{checkstatus,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hr.entity.Training" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into training
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="majorKindId != null" >
        major_kind_id,
      </if>
      <if test="majorKindName != null" >
        major_kind_name,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="majorName != null" >
        major_name,
      </if>
      <if test="humanId != null" >
        human_id,
      </if>
      <if test="humanName != null" >
        human_name,
      </if>
      <if test="trainingItem != null" >
        training_item,
      </if>
      <if test="trainingTime != null" >
        training_time,
      </if>
      <if test="trainingDegree != null" >
        training_degree,
      </if>
      <if test="trainingHour != null" >
        training_hour,
      </if>
      <if test="register != null" >
        register,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="registTime != null" >
        regist_time,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="checkstatus != null" >
        checkstatus,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="majorKindId != null" >
        #{majorKindId,jdbcType=VARCHAR},
      </if>
      <if test="majorKindName != null" >
        #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        #{humanId,jdbcType=VARCHAR},
      </if>
      <if test="humanName != null" >
        #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="trainingItem != null" >
        #{trainingItem,jdbcType=VARCHAR},
      </if>
      <if test="trainingTime != null" >
        #{trainingTime,jdbcType=DATE},
      </if>
      <if test="trainingDegree != null" >
        #{trainingDegree,jdbcType=VARCHAR},
      </if>
      <if test="trainingHour != null" >
        #{trainingHour,jdbcType=INTEGER},
      </if>
      <if test="register != null" >
        #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        #{registTime,jdbcType=DATE},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=DATE},
      </if>
      <if test="checkstatus != null" >
        #{checkstatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hr.entity.TrainingExample" resultType="java.lang.Integer" >
    select count(*) from training
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update training
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.majorKindId != null" >
        major_kind_id = #{record.majorKindId,jdbcType=VARCHAR},
      </if>
      <if test="record.majorKindName != null" >
        major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null" >
        major_id = #{record.majorId,jdbcType=VARCHAR},
      </if>
      <if test="record.majorName != null" >
        major_name = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.humanId != null" >
        human_id = #{record.humanId,jdbcType=VARCHAR},
      </if>
      <if test="record.humanName != null" >
        human_name = #{record.humanName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingItem != null" >
        training_item = #{record.trainingItem,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTime != null" >
        training_time = #{record.trainingTime,jdbcType=DATE},
      </if>
      <if test="record.trainingDegree != null" >
        training_degree = #{record.trainingDegree,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingHour != null" >
        training_hour = #{record.trainingHour,jdbcType=INTEGER},
      </if>
      <if test="record.register != null" >
        register = #{record.register,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null" >
        checker = #{record.checker,jdbcType=VARCHAR},
      </if>
      <if test="record.registTime != null" >
        regist_time = #{record.registTime,jdbcType=DATE},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=DATE},
      </if>
      <if test="record.checkstatus != null" >
        checkstatus = #{record.checkstatus,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update training
    set id = #{record.id,jdbcType=INTEGER},
      major_kind_id = #{record.majorKindId,jdbcType=VARCHAR},
      major_kind_name = #{record.majorKindName,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=VARCHAR},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      human_id = #{record.humanId,jdbcType=VARCHAR},
      human_name = #{record.humanName,jdbcType=VARCHAR},
      training_item = #{record.trainingItem,jdbcType=VARCHAR},
      training_time = #{record.trainingTime,jdbcType=DATE},
      training_degree = #{record.trainingDegree,jdbcType=VARCHAR},
      training_hour = #{record.trainingHour,jdbcType=INTEGER},
      register = #{record.register,jdbcType=VARCHAR},
      checker = #{record.checker,jdbcType=VARCHAR},
      regist_time = #{record.registTime,jdbcType=DATE},
      check_time = #{record.checkTime,jdbcType=DATE},
      checkstatus = #{record.checkstatus,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hr.entity.Training" >
    update training
    <set >
      <if test="majorKindId != null" >
        major_kind_id = #{majorKindId,jdbcType=VARCHAR},
      </if>
      <if test="majorKindName != null" >
        major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="humanId != null" >
        human_id = #{humanId,jdbcType=VARCHAR},
      </if>
      <if test="humanName != null" >
        human_name = #{humanName,jdbcType=VARCHAR},
      </if>
      <if test="trainingItem != null" >
        training_item = #{trainingItem,jdbcType=VARCHAR},
      </if>
      <if test="trainingTime != null" >
        training_time = #{trainingTime,jdbcType=DATE},
      </if>
      <if test="trainingDegree != null" >
        training_degree = #{trainingDegree,jdbcType=VARCHAR},
      </if>
      <if test="trainingHour != null" >
        training_hour = #{trainingHour,jdbcType=INTEGER},
      </if>
      <if test="register != null" >
        register = #{register,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="registTime != null" >
        regist_time = #{registTime,jdbcType=DATE},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=DATE},
      </if>
      <if test="checkstatus != null" >
        checkstatus = #{checkstatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hr.entity.Training" >
    update training
    set major_kind_id = #{majorKindId,jdbcType=VARCHAR},
      major_kind_name = #{majorKindName,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      human_id = #{humanId,jdbcType=VARCHAR},
      human_name = #{humanName,jdbcType=VARCHAR},
      training_item = #{trainingItem,jdbcType=VARCHAR},
      training_time = #{trainingTime,jdbcType=DATE},
      training_degree = #{trainingDegree,jdbcType=VARCHAR},
      training_hour = #{trainingHour,jdbcType=INTEGER},
      register = #{register,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      regist_time = #{registTime,jdbcType=DATE},
      check_time = #{checkTime,jdbcType=DATE},
      checkstatus = #{checkstatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>