<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	  ">
	<bean id="ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="jdbc:mysql://localhost/hr_db"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	 
	 <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	 	<property name="dataSource" ref="ds"></property>
	 	<property name="mapperLocations">
	 		<list>
	 			<value>classpath:hr/entity/mapper/*.xml</value>
	 		</list>
	 	</property>
	 </bean>

	 <bean id="template" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sessionFactory"></constructor-arg>
	</bean>
	<bean id="baseDao" class="hr.dao.BaseDao" abstract="true">
		<property name="template" ref="template" />
	</bean>
	
	<!-- 配置mapper 的id   以类名为spring 的id -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">	    
	    <property name="basePackage" value="hr/mapperdao"></property>
	    <property name="sqlSessionTemplateBeanName" value="template"></property>
	</bean>
	
	
	<!-- baseService  -->
	<bean id="baseService" class="hr.service.BaseService">
	    <property name="bonusMapper" ref="bonusMapper"></property>
	    <property name="configFileFirstKindMapper" ref="configFileFirstKindMapper"></property>
	    <property name="configFileSecondKindMapper" ref="configFileSecondKindMapper"></property>
	    <property name="configFileThirdKindMapper" ref="configFileThirdKindMapper"></property>
	    <property name="configMajorKindMapper" ref="configMajorKindMapper"></property>
	    <property name="configMajorMapper" ref="configMajorMapper"></property>
	    <property name="configPrimaryKeyMapper" ref="configPrimaryKeyMapper"></property>
	    <property name="configPublicCharMapper" ref="configPublicCharMapper"></property>
	    <property name="configQuestionFirstKindMapper" ref="configQuestionFirstKindMapper"></property>
	    <property name="configQuestionSecondKindMapper" ref="configQuestionSecondKindMapper"></property>
	    <property name="engageAnswerDetailsMapper" ref="engageAnswerDetailsMapper"></property>
	    <property name="engageAnswerMapper" ref="engageAnswerMapper"></property>
	    <property name="engageExamDetailsMapper" ref="engageExamDetailsMapper"></property>
	    <property name="engageExamMapper" ref="engageExamMapper"></property>
	    <property name="engageInterviewMapper" ref="engageInterviewMapper"></property>
	    <property name="engageMajorReleaseMapper" ref="engageMajorReleaseMapper"></property>
	    <property name="engageResumeMapper" ref="engageResumeMapper"></property>
	    <property name="engageSubjectsMapper" ref="engageSubjectsMapper"></property>
	    <property name="humanFileMapper" ref="humanFileMapper"></property>
	    <property name="majorChangeMapper" ref="majorChangeMapper"></property>
	    <property name="rightMapper" ref="rightMapper"></property>
	    <property name="salaryGrantDetailsMapper" ref="salaryGrantDetailsMapper"></property>
	    <property name="salaryGrantMapper" ref="salaryGrantMapper"></property>
	    <property name="salaryStandardDetailsMapper" ref="salaryStandardDetailsMapper"></property>
	    <property name="trainingMapper" ref="trainingMapper"></property>
	    <property name="userMapper" ref="userMapper"></property>
	   
	    <property name="sysRoleMapper" ref="sysRoleMapper"></property>
	    <property name="sysRoleRightMapper" ref="sysRoleRightMapper"></property>
	    <property name="dataMapper" ref="dataMapper"></property>
	</bean>
	
	
		
</beans>
