<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">

    
    <!-- 发布职位 -->
    <bean id="positionService" class="hr.service.recruit.PositionService" parent="baseService">
    </bean>
	<bean id="positionAction" class="hr.action.recruit.PositionAction" scope="prototype">
		<property name="positionService" ref="positionService"></property>
	</bean>
	
	
	<!-- 简历管理 -->
	<bean id="resumeService" class="hr.service.recruit.ResumeService" parent="baseService">
    </bean>
    
	<bean id="resumeAction" class="hr.action.recruit.ResumeAction">
		<property name="resumeService" ref="resumeService"></property>
		<property name="positionService" ref="positionService"></property>
	</bean>

	
	<!-- 面试状态 -->
	 <bean id="interViewService" class="hr.service.recruit.InterViewService" parent="baseService"></bean>
    <bean id="interViewAction" class="hr.action.recruit.InterViewAction" scope="prototype">
        <property name="interViewService" ref="interViewService"></property>
        <property name="positionService" ref="positionService"></property>
    </bean>
    
    <!-- 录用管理 -->
    <bean id="employService" class="hr.service.recruit.EmployService" parent="baseService"></bean>
    <bean id="employAction" class="hr.action.recruit.EmployAction" scope="prototype" >
		<property name="employService" ref="employService"></property>        
		<property name="resumeService" ref="resumeService"></property>        
    </bean>
</beans>
